body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}

.jatek_container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.kartya {
    width: 100px;
    height: 100px;
}

.kartya_belso {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

.kartya.forditott .kartya_belso {
    transform: rotateY(180deg);
}

.kepe {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.eleje {
    background-color: red;
}

.hatulja {
    background-color: green;
    transform: rotateY(180deg);
}
